.*
--*
*-1.*
/lilypond/**/*.midi
/lilypond/**/*.pdf
/lilypond/**/*.png
/lilypond/**/*.mp3
.DS_Store
_site
.bundle
.jekyll-cache
ruby-version
sass-cache/
*.swp
.ruby-version
.sass-cache/
vendor/
*.odp
*.log
