.*
--*
/lilypond/**/*.pdf
/lilypond/**/*.png
/lilypond/**/*.mp3
/lilypond/**/*.odp
/lilypond/**/*.midi
*-1.*
.DS_Store
_site
.bundle
.jekyll-cache
ruby-version
sass-cache/
*.swp
.ruby-version
.sass-cache/
vendor/
